# Defining and Using Functions

Basic Function Definition and Call

In [1]:
def greet():
    print("Hello, world!")

greet()

Hello, world!

Function with Parameters

In [2]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

Function with Default Parameter Values

In [3]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

Function Returning Multiple Values

In [5]:
def divide(a, b):
    quotient = a // b
    remainder = a % b
    return quotient, remainder

q, r = divide(10, 3)
print("Quotient:", q)
print("Remainder:", r)

Quotient: 3
Remainder: 1

Using Docstrings for Function Documentation

In [4]:
def multiply(a, b):
    """
    Multiplies two numbers and returns the result.
    """
    return a * b

print(multiply(4, 5))
print(multiply.__doc__)

20

    Multiplies two numbers and returns the result.

# Advanced Function Concepts

**Lambda Functions**

Basic Lambda Function

In [6]:
square = lambda x: x ** 2
print(square(5))

25

Lambda Function with Multiple Arguments

In [7]:
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

Using Lambda in map() Function

In [8]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16, 25]

Using Lambda in filter() Function

In [9]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

**Recursive Functions**

Calculating Factorial Using Recursion

In [10]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

Fibonacci Sequence Using Recursion

In [11]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(6))

8

**Higher-Order Functions**

Using a Function as an Argument

In [12]:
def apply_operation(a, b, operation):
    return operation(a, b)

def add(x, y):
    return x + y

print(apply_operation(5, 3, add))

8

Returning a Function from Another Function

In [13]:
def outer_function(message):
    def inner_function():
        print(message)
    return inner_function

greet = outer_function("Hello!")
greet()

Hello!

# Practical Examples

Calculating Average of Numbers Using Functions

In [14]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers)

numbers = [10, 20, 30, 40, 50]
print("Average:", calculate_average(numbers))

Average: 30.0

Finding the Longest Word in a List

In [15]:
def find_longest_word(words):
    longest = ""
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest

words = ["apple", "banana", "cherry", "date"]
print("Longest word:", find_longest_word(words))

Longest word: banana

Checking if a Number is Prime

In [16]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print("Is 17 prime?", is_prime(17))

Is 17 prime? True

Converting Temperature Units

In [17]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

print("25째C to Fahrenheit:", celsius_to_fahrenheit(25))
print("77째F to Celsius:", fahrenheit_to_celsius(77))

25째C to Fahrenheit: 77.0
77째F to Celsius: 25.0

Generating a List of Squares Using List Comprehension and Functions

In [19]:
def square_list(numbers):
    return [x ** 2 for x in numbers]

numbers = [1, 2, 3, 4, 5]
print("List of squares:", square_list(numbers))

List of squares: [1, 4, 9, 16, 25]

Converting a List of Strings to Uppercase

In [20]:
def convert_to_uppercase(words):
    return [word.upper() for word in words]

words = ["hello", "world", "python", "functions"]
print("Uppercase words:", convert_to_uppercase(words))

Uppercase words: ['HELLO', 'WORLD', 'PYTHON', 'FUNCTIONS']

Calculating the Total Price Including Tax

In [21]:
def calculate_total_price(prices, tax_rate):
    total = sum(prices)
    total_with_tax = total * (1 + tax_rate)
    return total_with_tax

prices = [100, 200, 300]
tax_rate = 0.1
print("Total price with tax:", calculate_total_price(prices, tax_rate))

Total price with tax: 660.0

Finding the Minimum and Maximum Values in a List

In [22]:
def find_min_max(numbers):
    return min(numbers), max(numbers)

numbers = [3, 7, 2, 9, 4]
min_value, max_value = find_min_max(numbers)
print("Minimum value:", min_value)
print("Maximum value:", max_value)

Minimum value: 2
Maximum value: 9

Checking if a String is a Valid Email Address

In [23]:
def is_valid_email(email):
    return "@" in email and "." in email.split("@")[-1]

email = "example@example.com"
print("Is valid email:", is_valid_email(email))

Is valid email: True

Counting the Frequency of Each Character in a String

In [24]:
def count_character_frequency(text):
    frequency = {}
    for char in text:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

text = "hello world"
print("Character frequency:", count_character_frequency(text))

Character frequency: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}